body {
  background-color: #aaa49f;
}

.container h1 {
  color: #78675B;
}

.card {
  box-shadow: 0px 6px 5px rgba(159, 125, 125, 0.2) !important;
  transition: box-shadow 0.5s !important;
  border-radius: 16px;
  margin-left: 240px;
}

.card:hover {
  box-shadow: 0px 0px 70px rgb(92, 92, 93) !important;
  border-width: 2px;
  border-color: #78675B;
  transform: translateY(-15px);
  animation: changeBorderRadius 2s ease-in-out infinite;
}

.btn {
  background-color: #78675B;
  color: #fff;
  border-radius: 10px;
  padding: 10px 10px;
}

.btn:hover {
  background-color: #CC9C13;
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn.card1:hover {
  transform: scale(1.04) !important;
  background-color: #CC9C13;
}

.card-body h5:hover {
  color: #007bff;
  transform: scale(1.06);
  transition: transform 0.3s ease-in-out, color 0.3s;
}